* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}

.home,

.support,
.services,
.about,
.contact-us,
.iniciar-sesión,
.marketing,
.ciber {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.home {
  background-image: url('./images/img-1.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.services {
  background-image: url('./images/img-2.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.about {
  background-image: url('./images/img-3.jpg');
  background-position: center;
  background-size: fill;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.contact-us {
  background-image: url('./images/img-4.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.iniciar-sesión {
  background-image: url('./images/img-7.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.marketing {
  background-image: url('./images/img-6.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.ciber {
  background-image: url('./images/img-5.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}



.support{
  background-image: url('./images/img-9.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.divEdit {

  border: 100px solid #FFFFFF;
}
.tableEdit {

  border: 20px solid #1d5ce6;
}
.tdEdit {

  border: 22px solid #ffffff;
}

.centrar{
  text-align: center;
}

.cont-tabla{
  text-align: center;
  padding: 10px;
}
.cont-tabla table{
  width: 100%;
  border-collapse: collapse;
}
.cont-tabla th{
  height: 50px;
  background-color: rgb(212, 96, 96);
  color: #fff;
  font-size: 18px;
  padding: 5px 10px;
}
.cont-tabla td{
  height: 50px;
  border: 1px solid cadetblue;
  padding: 5px 10px;
}
.trColor{
  background-color: cadetblue;
  color: #fff;
}
.trColor td{
  border: 1px solid #fff;
}
@media (max-width:720px){
  .cont-tabla{
    overflow-x: scroll;
  }
}

.botonColor{
  border: 5px solid rgb(230, 84, 84);
  color: rgb(150, 16, 16);
}